
@{
    ViewBag.Title = "Trang chu admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-8" style="padding: 10%;">
    <div class="container">
        <div class="row">
            @RenderPage("~/Views/Shared/_Logout.cshtml")
            @Html.ActionLink("Đổi mật khẩu", "Index", "ChangePassword", new { @area = "Admin" }, new { @class = "btn btn-success" })
            @Html.ActionLink("Xác Nhận Phòng", "Index", "ConfirmRoom", new { @area = "Admin" }, new { @class = "btn btn-success" })
            @Html.ActionLink("Quản Lý Người Dùng","Index","ListCustomer", new { @area="Admin"}, new { @class="btn btn-success"})
            @Html.ActionLink("Lạy Chúa","Index","QuanLyNguoiDung",new { @area ="Admin"}, new { @class="btn btn-success"})
            @Html.ActionLink("Nhom Nguoi Dung","Index","NhomNguoiDung",new { @area="Admin"},new { @class="btn btn-primary"})
        </div>
    </div>
</div>
