@model QuanLyPhongTro.Areas.Admin.Models.ThemNguoiDung
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">123</div>
        <div class="col-xs-9" style="border:1px solid grey; border-radius:1%;margin-top: -44%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-posts">
                                <div class="header">
                                    <h2 class="title">Danh sách người dùng</h2>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Chọn số dòng</h4>
                                            <div class="form-group">
                                                <select name="state" id="maxRow" class="form-control" style="width: 150px;">
                                                    <option value="5000">Hiện tất cả </option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            <a href="#" class="btn btn-success" onclick="AddList();">
                                                <i class="glyphicon glyphicon-plus"></i>Thêm người dùng
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    @if (ViewBag.DanhSachKhachHang != null)
                                    {
                                        <table class="table table-hover table-bordered table-striped" id="mytable">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tài Khoản</th>
                                                    <th>Họ Tên</th>
                                                    <th>Email</th>
                                                    <th>Số Điện Thoại</th>
                                                    <th>Địa Chỉ</th>
                                                    <th>Giới Tính</th>
                                                    <th>Chỉnh Sửa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.DanhSachKhachHang)
                                                {
                                                    <tr>
                                                        <td>@item.idCus</td>
                                                        <td>@item.username</td>
                                                        <td>@item.name</td>
                                                        <td>@item.email</td>
                                                        <td>@item.phone</td>
                                                        <td>@item.address</td>
                                                        <td>@item.gender</td>
                                                        <td><a class="" style="cursor:pointer" onclick="Delete(@item.idCus)"><i class="glyphicon glyphicon-trash">Xóa</i></a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="pagination-container">
                                            <nav>
                                                <ul class="pagination"></ul>
                                            </nav>
                                        </div>
                                            }
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal Box *@
<div class="col-sm-12">
    <div class="modal fade" id="booking-room">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="modal-title">
                        <h3>Thêm Người Dùng</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="addUser">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Tài Khoản", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.userName, new { @class = "form-control", @placeholder = "Tên người quản trị...", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(Model => Model.userName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Mật Khẩu", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.PasswordFor(Model => Model.passWord, new { @class = "form-control", @placeholder = "Tên tài khoản..." })
                                @Html.ValidationMessageFor(Model => Model.passWord, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Email", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.email, new { @class = "form-control", @placeholder = "Mật khẩu..." })
                                @Html.ValidationMessageFor(Model => Model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Số Điện Thoại", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.phone, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                @Html.ValidationMessageFor(Model => Model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Địa Chỉ", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.address, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                @Html.ValidationMessageFor(Model => Model.address, " ", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Giới Tính", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.gender, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                @Html.ValidationMessageFor(Model => Model.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-5">@Html.Label("Tên", new { @class = "label-style2" })</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(Model => Model.name, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                @Html.ValidationMessageFor(Model => Model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="Huy()">Hủy</a>
                    <a class="btn btn-danger" onclick="XacNhan()">Xác Nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>

                            @*<div class="container" style="padding:8%;">
                                    <div class="row">
                                        <a class="btn btn-success" style="cursor:pointer" onclick="AddList()"><i class="glyphicon glyphicon-plus"></i>Thêm Người Dùng</a>
                                        <div class="col-sm-10">
                                            @if (ViewBag.DanhSachKhachHang != null)
                                            {
                                                <table class="table table-hover table-bordered table-striped">
                                                    <thead class=" text-primary">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Tài Khoản</th>
                                                            <th>Họ Tên</th>
                                                            <th>Email</th>
                                                            <th>Số Điện Thoại</th>
                                                            <th>Địa Chỉ</th>
                                                            <th>Giới Tính</th>
                                                            <th>Chỉnh Sửa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in ViewBag.DanhSachKhachHang)
                                                        {
                                                            <tr>
                                                                <td>@item.idCus</td>
                                                                <td>@item.username</td>
                                                                <td>@item.name</td>
                                                                <td>@item.email</td>
                                                                <td>@item.phone</td>
                                                                <td>@item.address</td>
                                                                <td>@item.gender</td>
                                                                <td><a class="" style="cursor:pointer" onclick="Delete(@item.idCus)"><i class="glyphicon glyphicon-trash">Xóa</i></a></td>


                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="modal fade" id="booking-room">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <a class="close" data-dismiss="modal">&times;</a>
                                                    <div class="modal-title">
                                                        <h3>Thêm Người Dùng</h3>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="addUser">
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Tài Khoản", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model =>Model.userName, new { @class = "form-control", @placeholder = "Tên người quản trị...", @autofocus = "autofocus" })
                                                                @Html.ValidationMessageFor(Model => Model.userName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Mật Khẩu", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.PasswordFor(Model => Model.passWord, new { @class = "form-control", @placeholder = "Tên tài khoản..." })
                                                                @Html.ValidationMessageFor(Model => Model.passWord, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Email", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model => Model.email, new { @class = "form-control", @placeholder = "Mật khẩu..." })
                                                                @Html.ValidationMessageFor(Model => Model.email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Số Điện Thoại", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model => Model.phone, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                                                @Html.ValidationMessageFor(Model => Model.phone,"", new { @class = "text-danger" })
                                                        </div>
                                                            </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Địa Chỉ", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model => Model.address, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                                                @Html.ValidationMessageFor(Model => Model.address," ", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Giới Tính", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model => Model.gender, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                                                @Html.ValidationMessageFor(Model => Model.gender, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-5">@Html.Label("Tên", new { @class = "label-style2" })</div>
                                                            <div class="col-sm-7">
                                                                @Html.TextBoxFor(Model => Model.name, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu..." })
                                                                @Html.ValidationMessageFor(Model => Model.name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="width:auto; height:30px;"></div>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-primary" onclick="Huy()">Hủy</a>
                                                    <a class="btn btn-danger" onclick="XacNhan()">Xác Nhận</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <script src="~/Assets/js/PhanTrang.js"></script>
                            <script>
                                var Delete = function (ID) {
                                    $.ajax({
                                        type: "Post",
                                        url: "/Admin/ListCustomer/Delete",
                                        data: { UserID: ID },
                                        success: function (bool) {
                                            if (bool == "true")
                                                window.location.reload(true);
                                        }
                                    })
                                }
                                var AddList = function () {
                                    $("#booking-room").modal("show");
                                }
                                var Huy = function () {
                                    $("#booking-room").modal("hide");
                                }
                                var XacNhan = function () {
                                    var data = $("#addUser").serialize();
                                    if (!$("#addUser").valid()) {
                                        return false;
                                    }
                                    $.ajax({
                                        type: "Post",
                                        url: "/Admin/ListCustomer/AddList",
                                        data: data,
                                        success: function (bool) {
                                            if (bool == "") {
                                                if (!alert("Tao tai khoan thanh cong")) { window.location.reload(); }
                                            }
                                            else {
                                                alert(bool);
                                            }
                                        }
                                    })
                                }



                            </script>

