    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">123</div>
        <div class="col-xs-9">
                <div class="panel-group" style="margin-top:-62%;">
                    <div class="panel panel-success" style="font-weight:bold;">
                        <div class="panel-heading"><h3>Danh Sách Các Phòng</h3></div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id Phòng</th>
                                        <th>Tên Phòng</th>
                                        <th>Giá Phòng</th>
                                        <th>Địa chỉ Phong</th>
                                        <th>Ten User</th>
                                        <th>SoDienThoai</th>
                                        <th>Dia Chi User</th>
                                        <th>Duyet</th>
                                        <th>Huy</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.ListRoom != null)
                                {
                                    foreach (var item in ViewBag.ListRoom)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@item.idPhong</td>
                                                <td>@item.tenPhong</td>
                                                <td>@item.giaPhong</td>
                                                <td>@item.diaChiPhong</td>
                                                <td>@item.TenND</td>
                                                <td>@item.soDT</td>

                                                <td>@item.diaChiND</td>
                                                <td><a class="btn btn-success" onclick="Accept(@item.idPhong,@item.idUser)"><i class="glyphicon glyphicon-ok"></i></a></td>
                                                <td><a class="btn btn-danger" onclick="Decline(@item.idPhong,@item.idUser)"><i class="glyphicon glyphicon-remove"></i></a></td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>



@* modal xac nhan dat phong *@
<div class="col-sm-12">
    <div class="modal fade" id="ConfirmAcceptModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="modal-title">
                        <h3>Xác nhận đặt phòng</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <h3> Bạn có muốn duyet đặt phòng hay không ?</h3>
                    <div class="" style="text-align:center; display:none" id="loading-gif">
                        <img src="~/Content/img/loading-gif.gif" />
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="CancelAccept()">Hủy</a>
                    <a class="btn btn-danger" onclick="ConfirmAccept()">Xác Nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>
@* modal xac nhan huy phong *@
<div class="col-sm-12">
    <div class="modal fade" id="ConfirmDeclineModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="modal-title">
                        <h3>Xác nhận hủy phòng</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <h3> Bạn có muốn hủy đặt phòng hay không ?</h3>
                    <div class="" style="text-align:center; display:none" id="loading-gif">
                        <img src="~/Content/img/loading-gif.gif" />
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="DeclineRoom()">Hủy</a>
                    <a class="btn btn-danger" onclick="AcceptDeclineRoom()">Xác Nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="GetIDCus" />
<input type="hidden" id="GetIDRoom" />

<script>
    // Đặt phòng
    var Accept = function (IdRoom, IdCus) {
        $("#ConfirmAcceptModal").modal("show");
        $("#GetIDCus").val(IdCus);
        $("#GetIDRoom").val(IdRoom);
    }
    var CancelAccept = function () {
        $("#ConfirmAcceptModal").modal("hide");
    }
    var ConfirmAccept = function () {
        $("#loading-gif").show();
        var IdCus = $("#GetIDCus").val();
        var IdRoom = $("#GetIDRoom").val();
        $.ajax({
            type: "Post",
            url: "/Admin/ConfirmRoom/Accept",
            data: { IDCus: IdCus, IDRoom: IdRoom },
            success: function () {
                if (!alert("Đã chấp nhận đăng ký")) { window.location.reload(); }
            }
        })
    }
    // Hủy phòng
    var Decline = function (IdRoom, IdCus) {
        $("#ConfirmDeclineModal").modal("show");
        $("#GetIDCus").val(IdCus);
        $("#GetIDRoom").val(IdRoom);
    }
    var DeclineRoom = function () {
        $("#ConfirmDeclineModal").modal("hide");
    }
    var AcceptDeclineRoom = function () {
        $("#loading-gif").show();
        var IdCus = $("#GetIDCus").val();
        var IdRoom = $("#GetIDRoom").val(); 
        $.ajax({
            type: "Post",
            url: "/Admin/ConfirmRoom/Decline",
            data: { IDCus: IdCus, IDRoom: IdRoom },
            success: function () {
                if (!alert("Đã hủy đặt phòng !!!")) { window.location.reload(); }
            }
        })
    }
</script>
