@model QuanLyPhongTro.Models.DAO.login
@{
    ViewBag.Title = "Dang Nhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/form.css" rel="stylesheet" />

<div id="form">
    <!-- Begin Header Form -->
    <div id="header"></div>
    <!-- End Header Form -->
    <!-- Begin Title -->
    <div id="title">
        <h1 style="margin-left: 20px;">Chào mừng đến với trang Web của chúng tôi</h1>
    </div>
    <!-- End Title -->
    <!-- Thong Tin Form -->
    <div id="form-thong-tin">
            <div class="content-body">
                <div class="col-md-8" style="margin-left:15%;">
                    <div class="panel-group login-box">
                        <div class="panel panel-success">
                            <div class="panel-heading login-header"><h2 id="login-header-text">Đăng nhập</h2></div>
                            <div class="panel-body">
                                <form id="login-form">
                                    <div class="form-group col-md-12">
                                        @Html.Label("Tên tài khoản:", new { @class = "label-style" })
                                        @Html.TextBoxFor(Model => Model.userName,
                                            new { @class = "form-control", @placeholder = "Tên tài khoản...", @autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(Model => Model.userName, "",
                                           new { @class = "error-message" })
                                    </div>
                                    @*<div class="col-sm-12" style="width:auto; height:30px;"></div>*@
                                    <div class="form-group col-md-12">
                                        @Html.Label("Mật khẩu:", new { @class = "label-style" })
                                        @Html.PasswordFor(Model => Model.passWord, new { @class = "form-control", @placeholder = "Mật khẩu..." })
                                        @Html.ValidationMessageFor(Model => Model.passWord, "", new { @class = "error-message" })
                                    </div>
                                    <a class="btn btn-primary button-submit text-center" style="margin-left:22%;" onclick="VerifyLogin()">Đăng nhập</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    var VerifyLogin = function () {
        var data = $("#login-form").serialize();
        if (!$("#login-form").valid()) {
            return false;
        }
        $.ajax({
            type: "Post",
            url: "/Login/VerifyLogin",
            data: data,
            success: function (position) {
                if (position == 0) {
                    //window.location.href = "/Login/Index";
                    alert("Sai tên tài khoản hoặc mật khẩu");
                    $("#userName").val("");
                    $("#passWord").val("");
                }
                else if (position == 1) {
                    window.location.href = "/Admin";
                }
                else if (position == 2) {
                    window.location.href = "/User";
                }
            }
        })
    }
</script>