
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/Content/img/logo.png" />
            @*@Html.ActionLink("Quản Lý Phòng Trọ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse" id="myMenu">

            <ul class="nav navbar-nav navbar-nav--menu">
                <li class="nav-item active">@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Tìm Phòng", "Index", "DatPhong", new { @area = "User" }, new { @class = "" })</li>
                <li class="nav-item">@Html.ActionLink("Xem Lịch Sử Đặt Phòng", "Index", "XemLichSuDatPhong", new { @area = "User" }, new { @class = "" })</li>
                <li class="nav-item">
                    @Session["taikhoan"],@Html.ActionLink("Đăng xuất", "Logout", "Login", new { @area = "" }, new { @class = "" })
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="content-body">
            <div class="col-sm-12 clear">
                <div class="panel-group" style="padding:10%;">
                    <div class="panel panel-success">
                        <div class="panel panel-heading">
                            <h2>Xem Danh Sách Phòng Đã Đặt</h2>
                        </div>
                        <div class="panel panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID Phòng</th>
                                        <th>Tên Phòng</th>
                                        <th>Địa Chỉ</th>
                                        <th>Trạng Thái</th>
                                        <th>Tim O Ghep</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.LichSuPhong != null)
                                {
                                    foreach (var item in ViewBag.LichSuPhong)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.tenPhong</td>
                                                <td>@item.diaChi</td>
                                                @if (item.trangThai == 2)
                                                {
                                                    <td style="color:forestgreen">Đặt Phòng Thành Công</td>
                                                }
                                                else if (item.trangThai == 1)
                                                {
                                                    <td style="color:aqua">Đang Chờ Duyệt Phòng</td>
                                                }
                                                else if (item.trangThai == 4)
                                                {
                                                    <td style="color:brown">Đang chờ duyệt ở ghép</td>
                                                }
                                                else if (item.trangThai == 5)
                                                {
                                                    <td style="color:red">Chủ phòng không cho ở ké</td>
                                                }
                                                else if (item.trangThai == 6)
                                                {
                                                    <td style="color:green">Chủ phòng trọ đã chấp nhận bạn</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">Đặt Phòng Thất Bại</td>
                                                }
                                                @if (ViewBag.PhongOGhep != null)
                                                {
                                                    var check = false;
                                                    foreach (var item1 in ViewBag.PhongOGhep)
                                                    {
                                                        if (item1.idRoom == item.ID && item1.status == "wait")
                                                        {
                                                            <td>Đã mở ở ghép</td>
                                                            check = true;
                                                            break;
                                                        }
                                                        else if (item1.idRoom == item.ID && item1.status == "full" && item.trangThai == 2)
                                                        {
                                                            <td><a class="btn btn-primary" onclick="Process(@item.ID)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                                            check = true;
                                                            break;
                                                        }
                                                    }
                                                    if (check == true)
                                                    {
                                                        check = false;
                                                    }
                                                    else
                                                    {
                                                        check = false;
                                                        if (item.trangThai == 2)
                                                        {
                                                            <td><a class="btn btn-success" onclick="TimOGhep(@item.ID)"><i class="glyphicon glyphicon-signal"></i></a></td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="col-sm-12">
    <div class="content-body">
        <div class="col-sm-12 clear">
            <div class="panel-group" style="padding:10%;">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        Xem Danh Sách Phòng Đã Đặt
                    </div>
                    <div class="panel panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID Phòng</th>
                                    <th>Tên Phòng</th>
                                    <th>Địa Chỉ</th>
                                    <th>Trạng Thái</th>
                                    <th>Tim O Ghep</th>
                                </tr>
                            </thead>
                            @if (ViewBag.LichSuPhong != null)
                            {
                                foreach (var item in ViewBag.LichSuPhong)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.tenPhong</td>
                                            <td>@item.diaChi</td>
                                            @if (item.trangThai == 2)
                                            {
                                                <td style="color:forestgreen">Đặt Phòng Thành Công</td>
                                            }
                                            else if (item.trangThai == 1)
                                            {
                                                <td style="color:aqua">Đang Chờ Duyệt Phòng</td>
                                            }
                                            else if (item.trangThai == 4)
                                            {
                                                <td style="color:brown">Đang chờ duyệt ở ghép</td>
                                            }
                                            else if (item.trangThai == 5)
                                            {
                                                <td style="color:red">Chủ phòng không cho ở ké</td>
                                            }
                                            else if(item.trangThai == 6)
                                            {
                                                <td style="color:green">Chủ phòng trọ đã chấp nhận bạn</td>
                                            }
                                            else
                                            {
                                                <td style="color:red">Đặt Phòng Thất Bại</td>
                                            }
                                            @if (ViewBag.PhongOGhep != null)
                                            {
                                                var check = false;
                                                foreach (var item1 in ViewBag.PhongOGhep)
                                                {
                                                    if (item1.idRoom == item.ID && item1.status == "wait")
                                                    {
                                                        <td>Đã mở ở ghép</td>
                                                        check = true;
                                                        break;
                                                    }
                                                    else if (item1.idRoom == item.ID && item1.status == "full" && item.trangThai == 2)
                                                    {
                                                        <td><a class="btn btn-primary" onclick="Process(@item.ID)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                                        check = true;
                                                        break;
                                                    }
                                                }
                                                if (check == true)
                                                {
                                                    check = false;
                                                }
                                                else
                                                {
                                                    check = false;
                                                    if (item.trangThai == 2)
                                                    {
                                                        <td><a class="btn btn-success" onclick="TimOGhep(@item.ID)"><i class="glyphicon glyphicon-signal"></i></a></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@* modal box *@

<div class="col-sm-12">
    <div class="modal fade" id="tim-o-ghep">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="modal-title">
                        <h3>Xác nhận tim o ghep</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <h3> Bạn có muốn cho phòng nay o ghep hay không ?</h3>
                    <div class="" style="text-align:center; display:none" id="loading-gif">
                        <img src="~/Content/img/loading-gif.gif" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="CancelTimOGhep()">Hủy</a>
                    <a class="btn btn-danger" onclick="ConfirmTimOGhep()">Xác Nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="modal fade" id="info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="modal-title">
                        <h3>Thông tin người đăng ký</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3"><label>Tên:</label></div>
                            <div class="col-sm-9 form-control"><input id="name" type="text" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3"><label>Số điện thoại:</label></div>
                            <div class="col-sm-9 form-control"><input id="phone" type="text" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3"><label>Địa chỉ:</label></div>
                            <div class="col-sm-9 form-control"><input id="address" type="text" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3"><label>Giới tính:</label></div>
                            <div class="col-sm-9 form-control"><input id="gender" type="text" /></div>
                        </div>
                    </form>
                    <div class="" style="text-align:center; display:none" id="loading-gif">
                        <img src="~/Content/img/loading-gif.gif" />
                    </div>
                </div>
                <div class="modal-footer">

                    <a class="btn btn-default" onclick="CancelModal()">Hủy</a>
                    <a class="btn btn-success" onclick="RemoveOffer">Không chấp nhận</a>
                    <a class="btn btn-danger" onclick="ConfirmOffer()">Chấp Nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="GetID" />
<input type="hidden" id="GetID1" />
<script>
    var TimOGhep = function (ID) {
        $("#tim-o-ghep").modal("show");
        $("#GetID").val(ID);
    }

    var CancelTimOGhep = function () {
        $("#tim-o-ghep").modal("hide");

    }
    var ConfirmTimOGhep = function () {
        var ID = $("#GetID").val();
        $("#loading-gif").show();
        $.ajax({
            type: "post",
            url: "/User/XemLichSuDatPhong/ShareRoom",
            data: { ID: ID },
            success: function (bool) {

            }
        })
    }
    var Process = function (ID) {
        $("#GetID1").val(ID);
        $.ajax({
            type: "Post",
            url: "/User/XemLichSuDatPhong/LoadInfo",
            data: { ID: ID },
            success: function (bool) {
                var listinfo = bool.split("-");
                $("#name").val(listinfo[0]);
                $("#address").val(listinfo[1]);
                $("#phone").val(listinfo[2]);
                $("#gender").val(listinfo[3]);
                $("#info").modal("show");
            }
        })
    }

    var CancelModal = function () {
        $("#info").modal("hide");
    }
    var RemoveOffer = function () {
        var ID = $("#GetID1").val();
        $.ajax({
            type: "post",
            url: "/User/XemLichSuDatPhong/RemoveOffer",
            data: { ID: ID },
            success: function () {
                if (!alert("Không chấp nhận thành công")) { window.location.reload(); }
            }
        })
    }
    var ConfirmOffer = function () {
        var ID = $("#GetID1").val();
        $.ajax({
            type: "post",
            url: "/User/XemLichSuDatPhong/ConfirmOffer",
            data: { ID: ID },
            success: function () {
                if (!alert("Chấp nhận thành công")) { window.location.reload(); }
            }
        })
    }
</script>